/* 组件 */
@import 'dialogue-bar.css';
@import 'person-info.css';

@import 'chat.css';
@import 'contact.css';
@import 'find.css';
@import 'me.css';
.app-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 45px;
    line-height: 45px;
    font-size: 19px;
    background: linear-gradient(to bottom, #303036, #3c3b40);
    color: #ffffff;
    text-align: center;
}

.app-content {
    padding-top: 45px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.app-content ._full_inner {
    z-index: 2;
}

.app-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 3;
}
