.weui_cells_contact-head .weui_cell{
    padding:9px 15px
}
.weui_cells_contact-head .weui_cell_hd{
    height: 36px;
    width: 36px;
    overflow: hidden;
    margin-right:10px;
}
.img-obj-cover{
    display: block;
    border:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}