.me-line .weui_cell_hd img {
    width: 60px;
    display: block;
}

.me-line .weui_cell_primary {
    font-size: 14px;
    color: #111111;
}

.me-line .weui_cell_primary p:first-child {
    font-size: 18px;
}

.me-line .weui_cell_hd {
    margin-right: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #cccccc;
}
